body {
  background-image: url("https://cdna.artstation.com/p/assets/images/images/011/865/070/original/pixel-jeff-market.gif?1531830311");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 110%;
  justify-content: center;
}
h1, p, li {
  color: #048f39;
  text-shadow: 0 0 1px #ffffff, 0 0 2px #ffffff, 0 0 3px #ffffff;
  font-weight: bold;
}
.itemSale {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5em;
}

.itemSale li {
  list-style: none;
  text-align: center;
  width: 200px;
}

.itemSale img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.itemCart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5em;
}

select {
  padding: 5px 10px;
  border: 2px solid #048f39;
  border-radius: 4px;
  background-color: #048f39;
  font-size: 16px;
  color: #ffffff;
  outline: none;
  transition: 0.5s ease;
  cursor: pointer;
}

select:focus {
  box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
  transition: 0.5s ease;
}

select:hover {
  box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
  transition: 0.5s ease;
}

.addButton {
  padding: 5px 10px;
  background-color: #048f39;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}

.addButton:hover {
  box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
  transition: 0.5s ease;
}
.removeButton {
  padding: 5px 10px;
  background-color: #048f39;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}

.removeButton:hover {
  box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
  transition: 0.5s ease;
}

.checkoutButton {
  padding: 5px 10px;
  background-color: #048f39;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}

.checkoutButton:hover {
  box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
  transition: 0.5s ease;
}

.payInput {
  padding: 5px 10px;
  border: 2px solid #048f39;
  border-radius: 4px;
  background-color: #048f39;
  font-size: 16px;
  color: #ffffff;
  outline: none;
  transition: 0.5s ease;
  cursor: text;
}
.payInput[type="number"]::-webkit-outer-spin-button,
.payInput[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.payInput::-ms-expand {
  display: none;
}

.payInput:focus {
  box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
  transition: 0.5s ease;
}

.payButton {
  padding: 5px 10px;
  background-color: #048f39;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}

.payButton:hover {
  box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
  transition: 0.5s ease;
}

.shopAgainButton {
  padding: 5px 10px;
  background-color: #048f39;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}

.shopAgainButton:hover {
  box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
  transition: 0.5s ease;
}